.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 286px;
  height: 64px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: $dark-grey;
  background: $light-yellow;
  border-radius: 1px;

  &::after {
    content: url('../../images/button-light.svg');
    height: 58px;
    z-index: 1;
  }
}
