.section-catalog {
  &__content {
    @extend %margin-section;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  &__preview {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;

    @include onTablet {
      margin-bottom: 60px;
      flex-direction: row;
      justify-content: space-between;
      gap: 40px;
    }

    @include onDesktop {
      margin-bottom: 80px;
      gap: 120px;
    }
  }

  &__block {
    width: 100%;

    &--slide {
      display: none;

      @include onTablet {
        display: block;
      }
    }
  }

  &__title {
    @extend %title-h4;
  }

  &__descrptn {
    height: 92px;
    line-height: 28px;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    @include onTablet {
      margin-bottom: 28px;
      font-size: 24x;
      line-height: 32px;
    }

    @include onDesktop {
      margin-bottom: 34px;
      font-size: 30px;
      line-height: 44px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 180px;
      left: 60px;
      z-index: -1;
      display: block;
      width: 80%;
      height: 50px;

      background: rgba(18, 18, 18, 0.7);
      filter: blur(75px);
      border-radius: 300px;
      transform: matrix(1, 0, 0, -1, 0, 0);

      @include onTablet {
        left: 80px;
        z-index: -1;
        display: block;
        width: 72%;
        height: 50px;
      }
  
      @include onDesktop {
        bottom: 80px;
        left: 140px;
        z-index: -1;
        display: block;
        width: 80%;
        height: 50px;
      }
    }
  }

  &__button {
    position: relative;

    &::before {
      content: 'Получить каталог!';
      position: absolute;
      z-index: 2;
    }
  }
}
