.section-order {
  &__content {
    @extend %margin-section;
    display: flex;
    flex-direction: column;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      display: block;
      width: 80%;
      height: 600px;

      background: rgba(18, 18, 18, 0.5);
      filter: blur(125px);
      border-radius: 300px;
      transform: matrix(1, 0, 0, -1, 0, 0);
    }
  }

  &__title {
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 32px;
    }

    @include onDesktop {
      margin-bottom: 44px;
    }
  }

  &__main {
    @include onTablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 40px;
    }

    @include onDesktop {
      column-gap: 85px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__image {
    margin: 16px 0 20px 0;
    width: 100%;

    @include onTablet {
      margin: 24px 0 40px 0;
    }

    @include onDesktop {
      margin: 24px 0 68px 0;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    &--row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--price {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include onTablet {
        align-items: flex-start;
      }

      @include onDesktop {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  &__subtitle {
    @extend %title-h6;
  }

  &__width {
    font-weight: 400;
    font-size: 24px;

    @include onTablet {
      font-size: 26px;
    }

    @include onDesktop {
      font-size: 28px;
    }

    &--small {
      min-width: 50px;
      font-size: 18px;
    }
  }

  &__color {
    width: 24px;
    height: 24px;
    left: 370px;
    top: 6511px;

    background: #B8542A;
    border-radius: 500px;

    @include onTablet {
      width: 26px;
      height: 26px;
    }

    @include onDesktop {
      width: 28px;
      height: 28px;
    }
  }

  &__slider-box {
    position: relative;
    max-width: 370px;
    width: 100%;
  }

  &__slider-lines {
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 1;
      display: block;
      width: 70%;
      height: 1px;
      background: rgba(255, 207, 122, 0.72);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      width: 70%;
      height: 1px;
      background: $slider-color;
    }
  }

  &__slider {
    position: relative;
    bottom: 30%;
    left: 65%;
    z-index: 2;
    width: 30px;
    height: 30px;
    background: $light-yellow;
    border-radius: 2px;

    @include onTablet {
      right: 260px;
    }
  }

  &__rend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
  }

  &__choose-panel {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 30px;
    width: 300px;
  }

  &__choose {
    margin-top: 4px;
    width: 9px;
    height: 2px;
    background: $slider-color;

    &:not(:last-child) {
      margin-right: 4px;
    }

    &--active {
      background: $warm-yellow;
    }
  }

  &__list {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;

    @include onDesktop {
      margin-bottom: 54px;
      gap: 25%;
    }
  }

  &__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    line-height: 30px;
  }

  &__select-item {
    width: 20px;
    height: 20px;
    border: 1px solid $light-yellow;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
      &::after {
        content: '';
        display: block;
        background: $warm-yellow--hover;
        width: 18px;
        height: 18px;
        border-radius: 2px;
        opacity: 80%;
      }
    }

    &--active {
      background-color: $warm-yellow;
      &::after {
        content: '+';
        display: block;
        text-align: center;
        font-weight: bold;
        color: $dark-grey;
      }
    }
  }

  &__price {
    margin-bottom: 20px;
    text-align: center;
    line-height: 110%;
    color: $warm-yellow;

    @include onTablet {
      text-align: left;
      font-size: 30px;
    }

    @include onDesktop {
      font-size: 36px;
    }
  }

  &__button {
    cursor: pointer;

    &::before {
      content: 'Оставить заявку';
      position: absolute;
      z-index: 2;
    }
  }
}