@font-face {
  font-family: 'MainFont';
  src: url('/src/fonts/LabGrotesque-Thin.woff2') format('woff2'),
    url('/src/fonts/LabGrotesque-Thin.woff2') format('woff');
}

@font-face {
  font-family: 'SecondaryFont';
  src: url('/src/fonts/ScaniaSansCYCondensed-Regular.woff2') format('woff2'),
    url('/src/fonts/ScaniaSansCYCondensed-Regular.woff') format('woff');
}
