@font-face {
  font-family: 'MainFont';
  src: url('../fonts/LabGrotesque-Thin.woff2') format('woff2'),
    url('../fonts/LabGrotesque-Thin.woff') format('woff');
}

@font-face {
  font-family: 'SecondaryFont';
  src: url('../fonts/ScaniaSansCYCondensed-Regular.woff2') format('woff2'),
    url('../fonts/ScaniaSansCYCondensed-Regular.woff') format('woff');
}
