// COLORS:
$dark-grey: #1b1b1b;
$text-color-primary: #ffffff;
$text-color-secondary: #949494;

$light-yellow: #eccf94;
$warm-yellow: #ffcf7a;
$warm-yellow--hover: #fff1d8;

$h4-color: #757575;
$slider-color: #646464;
$footer-border: #232323;
$footer-color: #121212;

// SIZES:
